<header>
  <img src="assets/CSS/IMAGENES/LOGO.png" alt="Logo">

 <nav>
  <a (click)="irASeccion('inicio')" style="cursor: pointer;">INICIO</a>
  <a (click)="irASeccion('sobre-mi')" style="cursor: pointer;">SOBRE MÍ</a>
  <a (click)="irASeccion('cursos')" style="cursor: pointer;">CURSOS</a>
  <a (click)="irASeccion('experiencia')" style="cursor: pointer;">EXPERIENCIA</a>

<a routerLink="/portfolio">PROYECTOS</a>
<a routerLink="/contact">CONTACTO</a>
</nav>
  <a routerLink="/contact" class="btn btn-primary">Hablemos</a>
</header>
