<section id="inicio" class="hero">
  <div>
    <h1>Soy <span>Abel</span></h1>
    <h2>Bienvenido a mi portafolio</h2>
    <p>Técnico Superior en Desarrollo de Aplicaciones Web</p>
    <a href="/contact" class="btn btn-primary">Contrátame</a>
  </div>
  <img src="assets/CSS/IMAGENES/ABEL.jpg" alt="Foto de Abel">
</section>

<section id="sobre-mi" class="about">
  <h2>Sobre mí</h2>
  <p>Soy estudiante en Davante Medac, en la modalidad de Técnico Superior de Desarrollo en Aplicaciones Web. Soy alegre, extrovertido, con gran positividad y responsabilidad en todo lo que hago.</p>
</section>

<section id="cursos" class="cursos">
  <h2>Mis Cursos Realizados</h2>
  <div class="cursos-grid">
    <div class="curso">HTML</div>
    <div class="curso">JAVA</div>
    <div class="curso">GIT</div>
    <div class="curso">CSS3</div>
  </div>
</section>

<section id="experiencia" class="experiencia">
  <h2>Experiencia Laboral</h2>
  <div class="exp-grid">
    <div class="exp">
      <h3>Desarrollador Web</h3>
      <p>2023 - Actualidad</p>
      <p>Empresa Prácticas</p>
    </div>

    <div class="exp">
      <h3>Técnico en SMR</h3>
      <p>2022 - 2023</p>
      <p>PROELAN SL</p>
    </div>

    <div class="exp">
      <h3>Camarero</h3>
      <p>2024 - Actualidad</p>
      <p>Empresa ETT</p>
    </div>
  </div>
</section>
